/* Styles for tables */
table {
    border-collapse: collapse;
    width: 100%;
    }

    table th, table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    }

    table th {
    background-color: #f0f0f0;
    }

    table tr:first-child th {
    font-weight: bold;
    }

  /* Search Container Styles */
    #searchContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    }

  /* Styles for the search input field */
    #searchInput {
    margin-right: 10px;
    padding: 5px;
    }

  /* Styles for labels in the search container */
    #searchContainer span {
    margin-right: 10px;
    }

  /* Styles for dropdown lists in the search container */
    #searchContainer select {
    padding: 5px;
    }

  /*Styles for Search Buttons, View Availability, and Reset Filters */
    #searchButton, #availabilityButton, #resetButton {
    padding: 8px 12px;
    margin-left: 10px;
    }

  /* Styles for the accessibility view button */
#availabilityButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    }

  /* Styles for the filter reset button */
    #resetButton {
    background-color: #f44336;
    color: white;
    border: none;
    }
